<!DOCTYPE html>
<html lang="en" xmlns:th ="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Página Inicial</h1>
    <form action="home" method="post">
        <input type="number" name="id" id="id" placeholder="ID">
        <input type="text" name="nome" id="nome" placeholder="NOME">
        <input type="submit" value="Enviar">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="CPF de Usuário" name="cpf">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Senha" name="senha">
        </div>
        <button type="submit" class="btn btn-block btn-login"><i class="fas fa-sign-in-alt"></i> Entrar</button>
    </form>
</body>
</html>


