/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Estilos para o carrossel */
.carousel-item img {
    max-height: 400px;
    object-fit: cover;
}

/* Estilos para os cards */
.card {
    margin-bottom: 20px;
}

.card-title {
    color: #333;
    font-weight: bold;
}

.card-text {
    color: #666;
}
